html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@font-face {
  font-family: 'Delycost';
  src: url('../asset/delyfont/delyfont.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../asset/gotham/GothamLight.ttf');
  font-weight: 400;
  font-style: normal;
}

.section {  
  padding-bottom: 25px;
  padding-top: 100px;
  text-align: center;
}

.icon-text {
  font-family: 'Gotham', sans-serif;
  text-decoration: none;
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.icon-text:hover {
  text-decoration: none;
  color: black;
}

.icon {
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.fp-watermark {
  display: none;
}