.location-title {
    font-family: 'Delycost', sans-serif;
    font-weight: 400;
}
  
.location-title h1 {
    font-size: 5rem;
}

.location-content {
    font-family: 'Gotham', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}